<%- include('partials/header') -%>

    <h1>Home</h1>

    <% artigos.forEach(artigo=> { %>
      <h2 class="mt-3"><%= artigo.titulo %></h2>
      <%- `${artigo.conteudo.substring(0, 100)}` -%>
      <a class="btn btn-secondary btn-sm" href="artigos/<%= artigo._id %>">Leia mais</a>
    <% }) %> 

<%- include('partials/footer') -%>
